<?xml version="1.0"?>
<!--
/**
 * Mukesh_Catalog extension custom catalog
 * @category  Mukesh
 * @package   Mukesh_Catalog
 * @author    Mukesh Patel
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mukesh_Catalog::mukesh" title="Mukesh" translate="title" module="Mukesh_Catalog" sortOrder="20" dependsOnModule="Mukesh_Catalog" resource="Mukesh_Catalog::mukesh"/>

        <add id="Mukesh_Catalog::products" title="Products" translate="title" module="Mukesh_Catalog" sortOrder="10" parent="Mukesh_Catalog::mukesh" action="mukesh_catalog/product/" resource="Mukesh_Catalog::products"/>

    </menu>
</config>
